<div class="filter-wrapper">
  <form class="filter-form">
    <div class="filters skill-wrapper">
      <h3 class="filter-title">Уровень</h3>
      {% set skills = [('Детям', 'Детям'), ('Начинающим', 'Начинающим'), ('Опытным', 'Опытным')] %}
      <p>
        <input
          name="skill"
          type="radio"
          value=""
          {%
          if
          not
          request.args.language
          %}
          checked
          {%
          endif
          %}
        />
        Всем
      </p>
      {% for skill_name, skill_link in skills %}
        <p>
          <input name="skill" type="radio" value="{{ skill_link }}" {% if
          request.args.skill == skill_link %} checked {% endif %}/> {{ skill_name
          }}
        </p>
      {% endfor %}
    </div>
    <!-- /.filters .skill-wrapper -->

    <div class="filters language-wrapper">
      <h3 class="filter-title">Язык</h3>
      {% set languages = [('Python', 'Python'), ('JavaScript',
      'JavaScript'), ('Java', 'Java')] %}
      <p>
        <input
          name="language"
          type="radio"
          value=""
          {%
          if
          not
          request.args.language
          %}
          checked
          {%
          endif
          %}
        />
        Все
      </p>
      {% for language_name, language_link in languages %}
        <p>
          <input name="language" type="radio" value="{{ language_link }}" {% if
          request.args.language == language_link %} checked {% endif %}/> {{
          language_name }}
        </p>
      {% endfor %}
    </div>
    <!-- /.filters .language-wrapper -->

    <div class="filters publisher-wrapper">
      <h3 class="filter-title">Издательство</h3>
      <p>
        <input
          name="publisher"
          type="radio"
          value=""
          {%
          if
          not
          request.args.publisher
          %}
          checked
          {%
          endif
          %}
        />
        Все
      </p>
      {% for publisher in publishers %}
      <p>
        <input name="publisher" type="radio" value="{{ publisher.title }}" {% if
        request.args.publisher == publisher.title|string %} checked {% endif
        %}/> {{ publisher.title }}
      </p>
      {% endfor %}
    </div>
    <!-- /.filters .publisher-wrapper -->

    <div class="filters year-wrapper">
      <h3 class="filter-title">Год</h3>
      <p>
        <input
          name="year"
          type="radio"
          value=""
          {%
          if
          not
          request.args.year
          %}
          checked
          {%
          endif
          %}
        />
        За всё время
      </p>
      {% for year in years_list %}
      <p>
        <input name="year" type="radio" value="{{ year.year }}" {% if
        request.args.year == year.year|string %} checked {% endif %}/> {{
        year.year }}
      </p>
      {% endfor %}
    </div>
    <!-- /.filters .year-wrapper -->
    <input type="submit" value="Отправить" class="button-send" />
  </form>
</div>
<!-- /.filter-wrapper -->
