<header class="header">
  <div class="header-wrapper">
    <div class="menu">
      <a href="{{ url_for('index', _external=True) }}" class="menu-logo"
        >DeveloperBooks</a
      >
      <!-- /.logo -->
      <button class="menu-button menu-button--mobile--hidden">
        <span class="menu-button__line"></span>
        <span class="menu-button__line"></span>
        <span class="menu-button__line"></span>
      </button>
    </div>
    <!-- /.logo-menu -->
    <div class="nav nav--mobile--hidden">
      <div class="nav-container">
        <nav class="nav-wrapper">
          <ul class="nav__list">
            <li class="nav__item">
              <span class="nav__link" data-category="level">Уровень</span>
              <ul class="dropdown-menu" data-category="level">
                {% set skills = [('Всем', ''), ('Детям', 'Детям'),
                ('Начинающим', 'Начинающим'), ('Опытным', 'Опытным')] %} {% for
                skill_name, skill_link in skills %}
                <li class="dropdown-menu__item">
                  <a
                    href="{{ url_for('books', _external=True, skill=skill_link) }}"
                    class="dropdown-menu__link"
                    >{{ skill_name }}</a
                  >
                </li>
                {% endfor %}
              </ul>
            </li>
            <li class="nav__item">
              <span class="nav__link" data-category="language">Язык</span>
              <ul class="dropdown-menu" data-category="language">
                {% set languages = [('Все', ''), ('Python', 'Python'),
                ('JavaScript', 'JavaScript'), ('Java', 'Java')] %} {% for
                language_name, language_link in languages %}
                <li class="dropdown-menu__item">
                  <a
                    href="{{ url_for('books', _external=True, language=language_link) }}"
                    class="dropdown-menu__link"
                    >{{ language_name }}</a
                  >
                </li>
                {% endfor %}
              </ul>
            </li>
            <li class="nav__item">
              <span class="nav__link" data-category="theme">Направление</span>
              <ul class="dropdown-menu" data-category="theme">
                {% set theme_list = ['Все', 'DevOps', 'Алгоритмы и структуры данных',
                'Базы данных', 'Высоконагруженные приложения',
                'Вэб-приложения', 'Графические интерфейсы', 'Компьютерная безопасность',
                'Компьютерное зрение', 'Машинное обучение',
                'Обработка естественного языка', 'Парсинг', 'Работа с микроконтроллерами', 'Разработка игр',
                'Сетевое программирование', 'Тестирование'] %} {% for theme in theme_list
                %}
                <li class="dropdown-menu__item">
                  {% if theme == 'Все' %} {% set theme_link = '' %} {% else %}
                  {% set theme_link = theme %} {% endif %}
                  <a
                    href="{{ url_for('books', _external=True, theme=theme_link) }}"
                    class="dropdown-menu__link"
                    >{{ theme }}</a
                  >
                </li>
                {% endfor %}
              </ul>
            </li>
            <li class="nav__item">
              <span class="nav__link" data-category="publisher"
                >Издательство</span
              >
              <ul class="dropdown-menu" data-category="publisher">
                {% set publishers = [('Все', ''), ('Питер', 'Питер'), ('Тест1',
                'Тест1'), ('12', '12')] %} {% for publisher_name, publisher_link
                in publishers %}
                <li class="dropdown-menu__item">
                  <a
                    href="{{ url_for('books', _external=True, publisher=publisher_link) }}"
                    class="dropdown-menu__link"
                    >{{ publisher_name }}</a
                  >
                </li>
                {% endfor %}
              </ul>
            </li>
          </ul>
          <!-- /.nav__list -->
        </nav>
        <!-- /.nav-wrapper -->
        <button class="button-login">Войти</button>
      </div>
      <!-- /.nav-container -->
    </div>
    <!-- /.nav -->
  </div>
  <!-- /.header-wrapper -->
</header>
<!-- /.header -->
