<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document!</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600&family=Open+Sans:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href=" {{ url_for('static', filename='css/style.css') }} "
    />
  </head>
  <body>
    <header class="header">
      <div class="header-wrapper">
        <div class="menu">
          <a href="#" class="menu-logo">ProgrammigBooks</a>
          <!-- /.logo -->
          <button class="menu-button menu-button--mobile--hidden">
            <span class="menu-button__line"></span>
            <span class="menu-button__line"></span>
            <span class="menu-button__line"></span>
          </button>
        </div>
        <!-- /.logo-menu -->
        <div class="nav nav--mobile--hidden">
          <nav class="nav-wrapper">
            <ul class="nav__list">
              <li class="nav__item">
                <a href="#" class="nav__link" data-category="level">Уровень</a>
                <ul class="nav__link__list" data-category="level">
                  <li class="nav__link__item">Начинающим</li>
                  <li class="nav__link__item">Опытным</li>
                </ul>
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link" data-category="language">Язык</a>
                <ul class="nav__link__list" data-category="language">
                  <li class="nav__link__item">Python</li>
                  <li class="nav__link__item">JavaScript</li>
                  <li class="nav__link__item">Пример 1</li>
                </ul>
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link" data-category="theme"
                  >Направление</a
                >
                <ul class="nav__link__list" data-category="theme">
                  <li class="nav__link__item">Синтаксис</li>
                  <li class="nav__link__item">Вэб-разработка</li>
                  <li class="nav__link__item">Пример 1</li>
                  <li class="nav__link__item">Пример 2</li>
                </ul>
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link" data-category="publisher"
                  >Издательство</a
                >
                <ul class="nav__link__list" data-category="publisher">
                  <li class="nav__link__item">Питер</li>
                  <li class="nav__link__item">Пример 1</li>
                  <li class="nav__link__item">Пример 2</li>
                  <li class="nav__link__item">Пример 3</li>
                </ul>
              </li>
            </ul>
            <!-- /.nav__list -->
          </nav>
          <!-- /.nav-wrapper -->
          <button class="button-login">Войти</button>
        </div>
        <!-- /.nav -->
      </div>
      <!-- /.header-wrapper -->
    </header>
    <!-- /.header -->

    <script src=" {{ url_for('static', filename='js/jquery-3.6.0.min.js') }} "></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
