<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document!</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600&family=Open+Sans:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href=" {{ url_for('static', filename='css/style.css') }} "
    />
  </head>
  <body>
    <header class="header">
      <div class="header-wrapper">
        <div class="menu">
          <a href="../" class="menu-logo">DeveloperBooks</a>
          <!-- /.logo -->
          <button class="menu-button menu-button--mobile--hidden">
            <span class="menu-button__line"></span>
            <span class="menu-button__line"></span>
            <span class="menu-button__line"></span>
          </button>
        </div>
        <!-- /.logo-menu -->
        <div class="nav nav--mobile--hidden">
          <div class="nav-container">
            <nav class="nav-wrapper">
              <ul class="nav__list">
                <li class="nav__item">
                  <a href="#" class="nav__link" data-category="level"
                    >Уровень</a
                  >
                  <ul class="dropdown-menu" data-category="level">
                    <li class="dropdown-menu__item">
                      <a href="#" class="dropdown-menu__link">Начинающим</a>
                    </li>
                    <li class="dropdown-menu__item">
                      <a href="#" class="dropdown-menu__link">Опытным</a>
                    </li>
                  </ul>
                </li>
                <li class="nav__item">
                  <a href="#" class="nav__link" data-category="language"
                    >Язык</a
                  >
                  <ul class="dropdown-menu" data-category="language">
                    <li class="dropdown-menu__item">
                      <a href="#" class="dropdown-menu__link">Python</a>
                    </li>
                    <li class="dropdown-menu__item">
                      <a href="#" class="dropdown-menu__link">JavaScript</a>
                    </li>
                    <li class="dropdown-menu__item">
                      <a href="#" class="dropdown-menu__link">Пример</a>
                    </li>
                  </ul>
                </li>
                <li class="nav__item">
                  <a href="#" class="nav__link" data-category="theme"
                    >Направление</a
                  >
                  <ul class="dropdown-menu" data-category="theme">
                    <li class="dropdown-menu__item">
                      <a href="#" class="dropdown-menu__link">Синтаксис</a>
                    </li>
                    <li class="dropdown-menu__item">
                      <a href="#" class="dropdown-menu__link">Вэб-разработка</a>
                    </li>
                    <li class="dropdown-menu__item">
                      <a href="#" class="dropdown-menu__link">Пример</a>
                    </li>
                    <li class="dropdown-menu__item">
                      <a href="#" class="dropdown-menu__link">Пример</a>
                    </li>
                  </ul>
                </li>
                <li class="nav__item">
                  <a href="#" class="nav__link" data-category="publisher"
                    >Издательство</a
                  >
                  <ul class="dropdown-menu" data-category="publisher">
                    <li class="dropdown-menu__item">
                      <a href="#" class="dropdown-menu__link">Питер</a>
                    </li>
                    <li class="dropdown-menu__item">
                      <a href="#" class="dropdown-menu__link">Пример</a>
                    </li>
                    <li class="dropdown-menu__item">
                      <a href="#" class="dropdown-menu__link">Пример</a>
                    </li>
                    <li class="dropdown-menu__item">
                      <a href="#" class="dropdown-menu__link">Пример</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <!-- /.nav__list -->
            </nav>
            <!-- /.nav-wrapper -->
            <button class="button-login">Войти</button>
          </div>
          <!-- /.nav-container -->
        </div>
        <!-- /.nav -->
      </div>
      <!-- /.header-wrapper -->
    </header>
    <!-- /.header -->

    <section class="books">
      <div class="container">
        <div class="filter-wrapper">
          <form>
            <h2 class="filter-title">Фильтры</h2>
            <div class="filters skill-wrapper">
              <h3 class="filter-skill">Уровень:</h3>
              <p>
                <input
                  name="skill"
                  type="radio"
                  value=""
                  {%
                  if
                  not
                  request.args.skill
                  %}
                  checked
                  {%
                  endif
                  %}
                />
                Всем
              </p>
              <p>
                <input name="skill" type="radio" value="Детям" {% if
                request.args.skill == "Детям" %} checked {% endif %}/> Детям
              </p>
              <p>
                <input name="skill" type="radio" value="Начинающим" {% if
                request.args.skill == "Начинающим" %} checked {% endif %}/>
                Начинающим
              </p>
              <p>
                <input name="skill" type="radio" value="Опытным" {% if
                request.args.skill == "Опытным" %} checked {% endif %}/> Опытным
              </p>
            </div>
            <!-- /.filters .skill-wrapper -->

            <div class="filters language-wrapper">
              <h3 class="filter-language">Язык:</h3>
              <p>
                <input
                  name="language"
                  type="radio"
                  value=""
                  {%
                  if
                  not
                  request.args.language
                  %}
                  checked
                  {%
                  endif
                  %}
                />
                Все
              </p>
              <p>
                <input name="language" type="radio" value="Python" {% if
                request.args.language == "Python" %} checked {% endif %}/>
                Python
              </p>
              <p>
                <input name="language" type="radio" value="JavaScript" {% if
                request.args.language == "JavaScript" %} checked {% endif %}/>
                JavaScript
              </p>
              <p>
                <input name="language" type="radio" value="Java" {% if
                request.args.language == "Java" %} checked {% endif %}/> Java
              </p>
            </div>
            <!-- /.filters .language-wrapper -->

            <div class="filters publisher-wrapper">
              <h3 class="filter-publisher">Издательство:</h3>
              <p>
                <input
                  name="publisher"
                  type="radio"
                  value=""
                  {%
                  if
                  not
                  request.args.publisher
                  %}
                  checked
                  {%
                  endif
                  %}
                />
                Все
              </p>
              {% for publisher in publishers %}
              <p>
                <input name="publisher" type="radio" value="{{ publisher.title
                }}" {% if request.args.publisher == publisher.title|string %}
                checked {% endif %}/> {{ publisher.title }}
              </p>
              {% endfor %}
            </div>
            <!-- /.filters .publisher-wrapper -->

            <div class="filters year-wrapper">
              <h3 class="filter-year">Год:</h3>
              <p>
                <input
                  name="year"
                  type="radio"
                  value=""
                  {%
                  if
                  not
                  request.args.year
                  %}
                  checked
                  {%
                  endif
                  %}
                />
                За всё время
              </p>
              {% for year in years_list %}
              <p>
                <input name="year" type="radio" value="{{ year.year }}" {% if
                request.args.year == year.year|string %} checked {% endif %}/>
                {{ year.year }}
              </p>
              {% endfor %}
            </div>
            <!-- /.filters .year-wrapper -->
            <input type="submit" value="Отправить" />
          </form>
        </div>
        <!-- /.filter-wrapper -->
        <div class="books-wrapper">
          <ul class="book-list">
            {% for book in book_list %}
            <li class="book-item">
              <a href="../book/{{ book.id }}" class="book-image__link"
                ><img
                  src="{{ book.image }}"
                  alt="Image: {{ book.title  }}"
                  class="book-image__img"
              /></a>
              <div class="book-info">
                <a href="../book/{{ book.id }}" class="book-name"
                  >{{ book.title }}</a
                >
                <div class="book-authors">
                  {% for author in book.authors %}
                  <span class="book-author">{{ author.name }}</span>
                  {% endfor %}
                </div>
                <!-- /.authors-wrapper -->
                <span class="book-publisher"
                  ><span class="book-publisher-info">Издательство:</span> {{
                  book.publisher.title }}</span
                >
                <span class="book-year">
                  <span class="book-year-info">Год:</span>
                  {{ book.year }}</span
                >
                {% if book.description|length > 400 %}
                <p class="book-description">
                  {{ book.description[:400] + '...' }}
                </p>
                {% else %}
                <p class="book-description">{{ book.description }}</p>
                {% endif %}
              </div>
              <!-- /.book-info -->
            </li>
            {% endfor %}
          </ul>
        </div>
        <!-- /.books-wrapper -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /.books -->

    <script src=" {{ url_for('static', filename='js/jquery-3.6.0.min.js') }} "></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
